/*             импорты             */
@import url("../fonts/TT firs/font-style.css");
/*             начальные стили             */
body, html {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    /* rem = 10px */
    font-size: 62.5%;
    background-color: #1f1f1f;
    color: #FFFFFF;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
body {

}
/*              блоки для страницы              */
.__wrapper__ {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.__container__ {
    max-width: 144rem;
    margin: 0 auto;
    width: 100%;

}
.offset {
    margin: 0 3.2rem;
}
.button {
    display: inline-block;
    padding: 2.4rem;

    background: #25252D;
    color: #B0B7C3;
    border-radius: 1.6rem;

    font-size: inherit;
    line-height: inherit;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.button_rainbow {
    color: #25252D;

    background: linear-gradient(70.18deg, #8BECFF 23.46%, #F49CF8 69.06%, #F0FE98 100%) left;
    background-size: 100%;
    transition: all .5s ease;
}
.button_rainbow:hover {
    background-size: 300%;
}
.button_green {
    background-color: transparent;
    color: #A6FFAF;
    border: 0.2rem solid #A6FFAF;

    padding: 2.4rem;
    transition: all .4s ease;
}
.button_green:hover {
    color: #1F1F1F;
    background-color: #A6FFAF;
}
.button_green span {
    position: relative;
    padding: 0 1rem 0 0;
}
.button_green span:after {
    content: "";
    position: absolute;

    top: 50%;
    right: 0;
    transform: translate(100%, -50%) scale(1);
    background: url("../assets/icons/checkmark.svg") center no-repeat ;
    background-size: contain;
    width: 1.8rem;
    height: 1.4rem;


}


/*                       header                                    */
.header {

}
.header__body {
    min-height: 8.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}
.header__logo {
    display: flex;
    align-items: center;
}
.header__logo-img {
    display: none;
}
.header__logo-text {

}
.header__join {
    display: none;
    font-size: 1.2rem;
    line-height: 100%;
}
.header__join-button {
    padding: 1.8rem 2.4rem;
}
@media (min-width: 426px) {
    .header__join {
        display: block;
    }
    .header__body {
        justify-content: space-between;
    }
    .header__logo-img {
        display: block;
        padding: 0 1.6rem 0 0;
    }
}
/*                       main                                    */
.main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.main__top {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main__top-info {
    position: relative;
    margin: 12.7rem 0 0 0;
}
.main__top-info >*:not(:last-child):not(:first-child) {
    margin: 0 0 2rem 0;
}
.main-info {
    display: flex;
    flex-direction: column;
}

.main-info__title {
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 100%;
    color: #EEF1F5;
}
.main-info__title:not(:last-child) {
    margin: 0 0 1.2rem 0;
}
.main-info__gradient-text {
    display: inline-block;
    width: 100%;
    font-family: TT Firs Neue, serif;
    font-style: normal;
    font-weight: 800;
    font-size: 8em;
    line-height: 128%;
    letter-spacing: 0.4em;

    background: linear-gradient(80deg, rgba(139,236,255,1) 2%, rgba(244,156,248,1) 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}
.main-info__gradient-text span {
    width: 100%;
    display: inline-block;
}
.main-info__text {
    font-weight: normal;
    font-size: 2rem;
    line-height: 150%;
    color: #FFFFFF;
    max-width: 45rem;
}

.main-info__buttons {
    display: flex;
    font-size: 1.6rem;
    line-height: 100%;
}
.main-info__buttons >a:not(:last-child) {
    margin: 0 2.4rem 0 0;
}
.main__top-img {
    flex: 0 1 50%;
    position: relative;
}
.main__top-img img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    right: 0;
    transform: translate(0, 0) scale(1);
}
@media (max-width: 1024px) {
    .main__top-info {
        margin: 12.7rem 0 0 0;
    }
    .main-info__title {
        font-size: 2.2rem;
    }
    .main-info__gradient-text {
        font-size: 4rem;
        line-height: 130%;
    }
    .main-info__gradient-text #sec {
        display: inline;
    }
    .main-info__text {
        font-size: 1.8rem;
    }
    .main-info__buttons {

    }
}
@media (max-width: 768px) {
    .main__top {
        flex-direction: column;
    }
    .main__top-info {
        margin: 6.4rem 0 0 0;
    }
    .main-info__title {
        font-size: 2.2rem;
        text-align: center;
    }
    .main-info__gradient-text {
        font-size: 3.2rem;
        line-height: 128%;
        text-align: center;
        width: 100%;
    }
    .main-info__text {
        text-align: center;
        font-size: 1.8rem;
    }
    .main-info__buttons {
        flex-direction: column;
        width: 100%;
    }
    .main-info__buttons >a:not(:last-child) {
        margin: 0 0 2.4rem 0;
    }
    .main__top-img {
        flex: 0 1 100%;
    }

}
.main-info__partners {
    margin: 6rem 8.2rem 0 8.2rem;
    box-shadow: 0 2.3rem 4.4rem rgba(3, 8, 17, 0.14);
    background: linear-gradient(180deg, rgba(107, 106, 106, 0.5) 0%, rgba(255, 255, 255, 0) 100%);

    /*     толщина border      */
    padding: 0.1rem;
    border-radius: 1.6rem;
}
.main-info__partners-list {
    display: flex;
    background-color: #1F1F1F;
    border-radius: 1.6rem;
    padding: 2rem 3.2rem;
    justify-content: space-between;
}
.main-info__partners-list hr {
    display: none;
}
.main-info__partners-frame {
    display: flex;
    align-items: center;
}
.main-info__partners-frame:not(:last-child) {
    padding: 0 0.5rem 0 0;
}
.main-info__partners-frame >*:not(:last-child) {
    margin: 0 3.2rem 0 0;
}
.main-info__partners-item-img {
    display: flex;
}
.main-info__partners-item-img >*:not(:last-child) {
    margin: 0 3.2rem 0 0;
}
.main-info__partners-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;

    background-color: #1F1F1F;
    border-radius: inherit;
}
.main-info__partners-item-img {

}
.main-info__partners-item-border {
    background: linear-gradient(
            rgba(138, 235, 255, 0.045),
            rgba(242, 170, 253, 0.045),
            rgba(255, 217, 100, 0.045)
    );

    /* толщина border */
    padding: 0.2rem;
    border-radius: 4rem;
}
.main-info__partners-item-text {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 18.6rem;
    height: 100%;

    font-family: 'Space Grotesk', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 130%;
    color: #8A94A6;

    background-color: #1F1F1F;

    /* убираем отступы от padding */
    margin: -1.4rem -1.7rem;

}
@media (max-width: 1050px) {
    .main-info__partners {
        margin: 8.2rem 1rem 0 1rem;
    }
    .main-info__partners-frame >*:not(:last-child) {
        margin: 0 1.6rem 0 0;
    }
}
@media (max-width: 768px) {
    .main-info__partners-list {
        flex-direction: column;
        align-items: center;
    }
    .main-info__partners-list hr {
        display: inline-block;
        width: 100%;
        height: 0.1rem;
        margin: 2.4rem 0;
        border: none;
        background: linear-gradient(115.44deg, rgba(138, 235, 255, 0.045) 6.24%, rgba(242, 170, 253, 0.045) 49.48%, rgba(255, 217, 100, 0.045) 94.55%);
    }
    .main-info__partners-frame {
        flex-direction: column;
        row-gap: 1.6rem;
    }
    .main-info__partners-frame >* {
        justify-content: center;
        align-items: center;
    }
    .main-info__partners-item-img {

        background: linear-gradient(
                rgba(138, 235, 255, 0.045),
                rgba(242, 170, 253, 0.045),
                rgba(255, 217, 100, 0.045)
        );

        /* толщина border */
        padding: 0.2rem;
        border-radius: 4rem;
    }
    .main-info__partners-item-img >*:not(:last-child) {
        margin: 0 0 0 0;
    }
    .main-info__partners-item-border {
        background-color: #1F1F1F;
        padding: 0;
        height: 100%;
        border-radius: 0;
    }
    .main-info__partners-item-border:first-child {
        border-bottom-left-radius: 4rem;
        border-top-left-radius: 4rem;
    }
    .main-info__partners-item-border:last-child {
        border-bottom-right-radius: 4rem;
        border-top-right-radius: 4rem;
    }
    .main-info__partners-item {

    }
    .main-info__partners {
        margin: 0;
    }
}
/*  слайдер     */
/*                      Слайдер                             */
/* Слайдер */
.slick-slider{
    min-width: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    margin: 0 1rem;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    justify-content: space-between;
    height: 100%;
    /* для динамической высоты */
    /*align-items: flex-start;*/
}
.slick-track >*:not(:last-child){
    margin: 0 2.4rem 0 0;
}
/* Слайд */
.slick-slide{
    flex: 1 1 100%;
}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}
/*     -----------------------------------                      */
.main__slider {
    margin: 4.8rem 0 0 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.main-title {
    text-align: center;
    font-size: 4rem;
    line-height: 100%;
}
@media (max-width: 768px) {
    .main-title {
        font-size: 2.8rem;
    }
}
.main__slider-title {
    margin: 0 0 6.4rem 0;
}
.slider {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Точки (булиты) */
.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
}
.slider .slick-dots li{
    list-style: none;
    width: 3.6rem;
    display: flex;
    justify-content: center;
}
/* Активная точка */
.slider .slick-dots li.slick-active button{
    width: 3.6rem;
    background-color: white;
}
/* Элемент точки */
.slider .slick-dots li button{
    border: none;
    padding: 0;
    font-size: 0;
    width: 0.8rem;
    height: 0.8rem;
    background-color: #8A94A6;
    border-radius: 1.5rem;
    transition: all .3s linear;
}
.slider .slick-dots button:hover {
    cursor: pointer;
}
.slider__item {
    background: #1F1F1F;
    color: #EEF1F5;
    font-weight: 500;
    padding: 4.1rem 5rem;

    border-radius: 1.6rem;
    border-width: 0.2rem;
    border-style: solid;
    border-color: transparent;

    box-shadow: 0 44px 65px rgba(3, 8, 17, 0.19);

    background:
            linear-gradient(#1F1F1F, #1F1F1F) padding-box,
            linear-gradient(180deg,
            rgba(107, 106, 106, 0.5) 0%,
            rgba(255, 255, 255, 0) 100%) border-box;


}
.slider-item_main {
    background:
            linear-gradient(#2B2D3A, #2B2D3A) padding-box,
            linear-gradient(180deg,
            rgba(107, 106, 106, 0.5) 0%,
            rgba(255, 255, 255, 0) 100%) border-box;
}
.slider-item_next {
    background:
            linear-gradient(#25252D, #25252D) padding-box,
            linear-gradient(180deg,
            rgba(107, 106, 106, 0.5) 0%,
            rgba(255, 255, 255, 0) 100%) border-box;

}
.slider__item >*:not(:last-child):not(:first-child) {
    margin: 0 0 5.6rem 0;
}
.slider-item {
    display: flex;
    flex-direction: column;
}
.slider-item__notice {
    margin: 0 0 2.7rem;

    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 100%;
    text-transform: uppercase;

    filter: drop-shadow(0px 12px 23px rgba(183, 139, 242, 0.1));
}
.slider-item__notice_invisible {
    opacity: 0;
}
.slider-item__notice-text {
    display: inline-block;
    padding: 0.6rem;

    border-radius: 0.4rem;
    border-width: 0.2rem;
    border-style: solid;
    border-color: transparent;

}
.slider-item__notice-text_rainbow {
    background:
            linear-gradient(#1F1F1F, #1F1F1F) padding-box,
            linear-gradient(50deg,
            rgba(139,236,255,1) 0%,
            rgba(174,209,253,1) 30%,
            rgba(244,156,248,1) 48%,
            rgba(242,205,200,1) 80%,
            rgba(240,254,152,1) 100%) border-box;
);
}
.slider-item__notice-text_rainbow span {
    position: relative;
    text-align: center;

    background:
            linear-gradient(50deg,
            rgba(139,236,255,1) 0%,
            rgba(174,209,253,1) 30%,
            rgba(244,156,248,1) 48%,
            rgba(242,205,200,1) 80%,
            rgba(240,254,152,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.slider-item__notice-text_green {
    color: #A6FFAF;
    background:
            linear-gradient(#1F1F1F, #1F1F1F) padding-box,
            linear-gradient(#A6FFAF, #A6FFAF) border-box;);
}
.slider-item__notice-text_green span {
    position: relative;
    text-align: center;
}
.slider-item-body {

}
.slider-item__title {

}
.slider-item__name {
    font-size: 2.6rem;
    line-height: 100%;
}
.slider-item__note {
    font-size: 1.8rem;
    line-height: 127%;

    color: #8A94A6;
}

.slider-item__price {

}
.slider-item__money {
    font-size: 4rem;
    line-height: 100%;
}
.slider-item__money:before {
    content: '\0024';
    margin: 0 -0.7rem 0 0;

}
.slider-item__BNB {
    font-size: 2.4rem;
    line-height: 100%;

    color: #8A94A6;
}
.slider-item__BNB:after {
    content: " BNB";
}
.slider-item__duration {
    font-size: 2.4rem;
    line-height: 100%;
    color: #8A94A6;
}
.slider-item__list {

}
.slider-item__list-item {

}
.slider-item__list-item:not(:last-child) {
    margin: 0 0 3.2rem 0;
}
.slider-item__list-title {
    font-size: 1.4rem;
    line-height: 128%;

    color: #B0B7C3;
}
.slider-item__text {
    font-size: 2rem;
    line-height: 150%;

    color: #FFFFFF;
}
.slider-item__button {
    font-size: 1.6rem;
    line-height: 100%;
    margin-top: auto;
}
.slider-item__button a{
    width: 100%;
}
.slider-item__button-arrow {
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease;
}
.slider-item__button-arrow:before {
    content: "";
    position: absolute;
    background-color: #B0B7C3;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: inherit;
}
.slider-item__button-arrow span {
    position: relative;
    padding: 0 1.2rem 0 0;
    overflow: hidden;
    transition: inherit;
}
.slider-item__button-arrow span:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
    width: 2rem;
    height: 1rem;
    background: url("../assets/icons/Stroke.svg") no-repeat;
    background-size: contain;
    transition: inherit;
}
.slider-item__button-arrow:hover span{
    color: #1F1F1F;
}
.slider-item__button-arrow:hover span:after{
    right: -100%;
}
.slider-item__button-arrow:hover:before {
    left: 0;
}
@media (max-width: 1024px) {
    .main__slider {
        margin: 1.8rem 0 0 0;
    }
    .main__slider-title {
        margin: 0 0 5.5rem 0;
    }
    .slider__item {
        padding: 3.2rem 2.6rem 4.2rem 2.6rem;
    }
    .slider__item >*:not(:last-child):not(:first-child) {
        margin: 0 0 3.2rem 0;
    }
    .slider-item__notice {
        margin: 0 0 2.6rem;
    }
    .slider-item__name {
        font-size: 2.2rem;
    }
    .slider-item__money {
        font-size: 3.2rem;
    }
    .slider-item__button {
        font-size: 1.2rem;
    }
    .slider-item__button a{
        padding: 1.8rem 0;
    }

}
@media (max-width: 768px) {
    .slick-list {
        margin: 0 0;
    }
    .slick-track >*:not(:last-child){
        margin:0;
    }
    .main__slider {
        margin: 2.8rem 0 0 0;
    }
    .main__slider-title {
        margin: 0 0 3.6rem 0;
    }
    .slider__item {
        padding: 4.9rem 3.6rem 5.7rem 2.6rem;
    }
    .slider__item >*:not(:last-child):not(:first-child) {
        margin: 0 0 5.6rem 0;
    }
    .slider-item__notice {
        margin: 0 0 2.6rem;
    }
    .slider-item__name {
        font-size: 2.6rem;
    }
    .slider-item__money {
        font-size: 4rem;
    }
    .slider-item__list {
        margin: 9rem 0 0 0;
    }
    .slider-item__button {
        font-size: 1.6rem;
    }
    .slider-item__button a{
        padding: 2.4rem 0;
    }
}
/*      присоеедениться */
.main__create {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15rem 0 0 0;
}
.main__create >*:not(:last-child) {
    margin: 0 0 2.4rem 0;
}
.main__create-text {
    font-size: 1.8rem;
    line-height: 127%;
    text-align: center;
}
.main__create-button {
    font-size: 1.2rem;
    line-height: 100%;
}
.main__create-button a {
    padding: 1.8rem 2.4rem;
}
@media (max-width: 768px) {
    .main__create {
        padding: 0 3.5rem;
        margin: 6.4rem 0 0 0;
    }
    .main__create >*:not(:last-child) {
        margin: 0 0 1.6rem 0;
    }
    .main__create-button {
        width: 100%;
    }
    .main__create-button a{
        width: 100%;
    }
}
/*      стать партнёром  */
.main__community {
    display: flex;
    border-radius: 1.6rem;
    border-width: 0.2rem;
    border-style: solid;
    border-color: transparent;
    padding: 7.1rem 7.7rem 7.6rem 7.2rem;
    margin: 13.3rem 20rem 0 20rem;

    background:
            linear-gradient(#1F1F1F, #1F1F1F) padding-box,
            linear-gradient(180deg,
            rgba(107, 106, 106, 0.5) 0%,
            rgba(255, 255, 255, 0) 100%) border-box;

    filter: drop-shadow(0px 20px 77px rgba(3, 8, 17, 0.4));

}
.main__community-body {
    flex: 0 1 55%;
    margin: 0 6rem 0 0;
}
.main__community-body >*:not(:last-child) {
    margin: 0 0 4.8rem 0;
}
.main__community-title {
    font-style: normal;
    font-size: 4rem;
    line-height: 100%;
}
.main__community-text {
    font-weight: normal;
    font-size: 2rem;
    line-height: 150%;
    color: #8A94A6;
}
.main__community-form {
    display: flex;
    justify-content: space-between;
}
.main__community-form >*:not(:last-child) {
    margin: 0 3.2rem 0 0;
}
.main__community-input {
    position: relative;
}
.main__community-input input {
    color: #B0B7C3;
    background-color: #25252D;
    padding: 2.4rem 2.4rem 2.4rem 6.4rem;
    position: relative;
    border-radius: 15px;
    height: 100%;
    width: 100%;
}
.main__community-input input::placeholder {
    color: #B0B7C3;
    font-size: 1.6rem;
    line-height: 125%;

}
.main__community-input:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 24px;
    height: 24px;
    transform: translate(0, -50%);
    object-fit: contain;
    margin: 0 0 0 2.4rem;
    background: url("../assets/icons/mail-icon.svg") no-repeat;
    background-size: 100%;
    z-index: 1;
}
.main__community-form button {
    font-size: 1.6rem;
}
.main__community-img {
    flex: 1 1 auto;
    position: relative;
}
.main__community-img img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
}
@media (max-width: 1300px) {
    .main__community {
        margin: 13.3rem 5rem 0 5rem;
    }
}
@media (max-width: 1024px) {
    .main__community {
        margin: 5.7rem 5.4rem 0 5rem;
        padding: 7.1rem 7.7rem 7.8rem 6.8rem;
    }
    .main__community-body {
        margin: 0 4.2rem 0 0;
    }
    .main__community-title {
        font-size: 3.2rem;
    }
    .main__community-form >*:not(:last-child) {
        margin: 0 2.4rem 0 0;
    }
}
@media (max-width: 768px) {
    .main__community {
        margin: 10rem 0 0 0;
        padding: 4.4rem 3.5rem;
    }
    .main__community-body {
        margin: 0;
        flex: 1 1 auto;
    }
    .main__community-body >*:not(:last-child) {
        margin: 0 0 3.2rem 0;
    }
    .main__community-img {
        display: none;
    }
    .main__community-form {
        flex-direction: column;
    }
    .main__community-form >*:not(:last-child) {
        margin: 0 0 3.8rem 0;
    }

}

/*                       footer                                    */
.footer {

}